
body{
    background-color: lightgrey;
}

.aaa{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.login-container {
    
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    align-items: center;
}

button {
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 95%;
}

button:hover {
    background-color: #0056b3;
}

@keyframes slide-up {
    from{
        opacity: 0;
        transform: translate(0px,-50px);
    }

    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
    
}

.login-container{
    animation: slide-up 2s ease-out;
    animation-fill-mode: forwards;
}

form{
    animation-name: example;
    animation-duration: 4s;
}